{{ timestamped_for_f1_host }} {

    @dashboard {
        not path /api/*
    }
    
    @web-api {
        method GET
        path /api/*
    }

    reverse_proxy @dashboard dashboard:{{ timestamped_for_f1_dashboard_port }}
    reverse_proxy @web-api web-api:{{ timestamped_for_f1_web_api_port }}

}