{{ timestamped_for_f1_host }} {

    @dashboard {
        path /
    }
    
    @web-api {
        method GET
        path /api/*
    }

    reverse_proxy @dashboard dashboard:3000
    reverse_proxy @web-api web-api:8080

}