TIMESTAMPED_FOR_F1_DASHBOARD_WEB_API_BASE_URL="{{ timestamped_for_f1_dashboard_web_api_base_url }}"
TIMESTAMPED_FOR_F1_DASHBOARD_NODE_ENV="{{ timestamped_for_f1_dashboard_node_env }}"
TIMESTAMPED_FOR_F1_DASHBOARD_HOST="{{ timestamped_for_f1_dashboard_host }}"
TIMESTAMPED_FOR_F1_DASHBOARD_PORT="{{ timestamped_for_f1_dashboard_port }}"