#!/bin/bash

export TIMESTAMPED_FOR_F1_OPENF1_DB_ROOT_PASSWORD="{{ timestamped_for_f1_openf1_db_root_password }}"
export TIMESTAMPED_FOR_F1_OPENF1_DB_PORT="{{ timestamped_for_f1_openf1_db_port }}"
export TIMESTAMPED_FOR_F1_OPENF1_DB_NAME="{{ timestamped_for_f1_openf1_db_name }}"
export TIMESTAMPED_FOR_F1_CACHE_HOST="{{ timestamped_for_f1_cache_host }}"
export TIMESTAMPED_FOR_F1_CACHE_PORT="{{ timestamped_for_f1_cache_port }}"
export TIMESTAMPED_FOR_F1_CACHE_USERNAME="{{ timestamped_for_f1_cache_username }}"
export TIMESTAMPED_FOR_F1_CACHE_PASSWORD="{{ timestamped_for_f1_cache_password }}"
export TIMESTAMPED_FOR_F1_CACHE_DB="{{ timestamped_for_f1_cache_db }}"
export TIMESTAMPED_FOR_F1_CACHE_API_IP="{{ timestamped_for_f1_cache_api_ip }}"
export TIMESTAMPED_FOR_F1_CACHE_API_PORT="{{ timestamped_for_f1_cache_api_port }}"
export NEXT_PUBLIC_TIMESTAMPED_FOR_F1_WEB_API_BASE_URL="{{ timestamped_for_f1_web_api_base_url }}"
